.movieList{
    
    object-fit: contain;
    max-height: 150px;
    width: 250px;
    padding-left: 10px;
    transition: transform 350ms;
    
}
.movieLists{
    display: flex;  
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 10px 10px 0px;
}
.movieLists::-webkit-scrollbar{
    display: none;
}
.movieList:hover{
    transform: scale(1.02);
}
.movieListOriginal{
   max-height: 400px;
   width: 180px;
}
.movieListOriginal:hover{
    transform: scale(1.04);
}
.list_title{
    font-weight: normal;
    font-size: 18px;
}