@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.app{
    color: white;
    font-weight: lighter;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    background-color: #111;;
}


